* {
    margin: 0;
    padding: 0;
}
/* header related styles */
/* nav related styles */
.nav-container {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    
    box-shadow: 4px 4px 16px 8px rgba(128, 128, 128, 0.229);
}
.icon {
    display: flex;
    align-items: center;
    gap: 6px;
}
.icon-title {
    font-size: 35px;
   font-weight:bolder;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.pink {
    color: rgb(211, 75, 121);
}
.list {
    display: flex;
    align-items: center;
    gap: 20px;
}
.left-list {
    display: flex;
    gap: 25px;
}
.right-list {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgba(142, 133, 133, 0.349);
    padding: 5px 12px;
    border-radius: 5px;
}
#icon-y {
    color: red;

}
/* responsive nav section styles */
/* for mobile */

@media screen and (max-width: 576px) {
    .nav-container, .list, .left-list {
            flex-direction: column;
    }
    .nav-container {
        padding: 30px 150px;
        box-shadow: none;
    }
    .list {
        padding-top: 40px;

    }
    .left-list {
        padding-bottom: 15px;
        text-align: center;
    }
    #p {
        padding-bottom: 20px;

    }
}
/* main related styles */
/* banner section styles  */
.banner {
    
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100vh;
    padding-left: 100px;
    
}
.banner-text {
    background-image: url(../images/Group\ 14.png), ;
      
}
.img {
    height: 500px;
    
}
.banner > div {
    width: 50%;
}
.banner-title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 30px;
}
.purple {
    font-size: 60px;
}

.paragraph {
    padding: 3px 0;
}

.btn {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 0;
    background-color: rgb(198, 61, 107);
    border-radius: 8px;
    color: white;
}
.sky {
    background-color: rgb(47, 135, 135);
}

#icon {
    color: rgb(183, 80, 80);
}
#icon2 {
  color: rgb(47, 135, 135);
  
}

/* responsive banner section styles */
/* for mobile */

@media screen and (max-width: 576px) {
    .banner {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
    }
    .banner > div {
        width: 100%;
    }
    .img {
        width: 400px;
        padding-left: 40px;
        padding-top: 35px;
    }
    .banner-text {
        padding:50px 0 50px 230px;
        
    }
     
}
/* online game section related styles */

.online-games {
    padding: 75px 0;
}
.online-game-title {
    text-align: center;
    padding: 10px;
    font-size: 30px;
}
.online-game-description {
text-align: center;
font-size: 12px;
color: rgb(96, 86, 72);

}
.card-container {
    display: flex;
    gap: 10px;
    width: 80%;
   margin: auto;
    padding-top: 23px;

}
.card-container p {
    font-size: 13px;
}
.card-img {
   width: 200px;

}

/* online game section related styles */

@media screen and (max-width: 576px) {
     .card-container {
        flex-direction: column;
        padding: 25px 0;
     }
     .card-img {
        width: 250px;
     }
     .card {
        padding: 10px 60px;
       
    }
  
}

/* fourth section related styles */

   

 .fourth-img { 
      border: 1px solid gray;
      border-radius: 40px;
      display: flex;
      justify-content: center;
      gap: 5px;
      align-items: center;
      width: 180px;
      padding: 5px 0;
      border: 0;
      background-color: white;
      font-weight: bolder;
      
      
} 

.fourth-img:hover {
    border: 1px solid rgb(220, 11, 105);
    color: rgb(220, 11, 105);
    
}

.fourth-section-btn-1, .fourth-section-btn-3, .fourth-section-btn-5, .fourth-section-btn-8, .fourth-section-btn-9 {
    width: 150px;
}

.fourth-img img {
    height: 30px;
 
}
.up-btn {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    

}
.down-btn {
    display:flex ;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    padding-bottom: 100px;
}
/* responsive fourth section styles */
@media screen and (max-width: 576px) {
    .up-btn, .down-btn  {
        
        flex-direction: column;

}
.fourth-section-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
}

/* footer related styles */
.footer {
    background-color: black;
    padding: 30px;
}
.footer-container {
    text-align: center;
}
.footer-head {
    display: flex;justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
}

.white {
    color: white;
}
.footer-text 
{
    display: flex;
    justify-content: center;
    gap: 30px;
    color: rgb(252, 228, 228);
    padding: 20px 0;
}
.footer-foot {
    display: flex;
    justify-content: center;
    gap: 20px;

}
.footer small {
    color: rgb(193, 170, 170);
    padding: 20px 0;

}
.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
   
}
/* footer related responsive styles */
/* for mobile */
@media screen and (max-width: 576px) {
    .footer-text {
        display: grid;
        grid-template-columns: repeat(3,1fr);
       
    }
    .footer-foot {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 0;
    }
   #para {
    color: rgb(199, 182, 182);
    font-size: 13px;
    width: 200px;
    padding-left: 110px;
   }
}
/* Finish */